project_id = "vblqvkqkmdmlcxxphwks"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[functions.schedule-session-notification]
verify_jwt = true

[functions.dispatch-due-notifications]
verify_jwt = false

[db]
port = 54322

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324