project_id = "vblqvkqkmdmlcxxphwks"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
port = 54324
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://a59fd989-1232-4653-b99d-49f19e8d996b.lovableproject.com"]
jwt_expiry = 3600
refresh_token_rotation_enabled = true
anonymous_users_enabled = false
manual_linking_enabled = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[db]
port = 54322

[realtime]
enabled = true
port = 54323

[storage]
enabled = true
port = 54324
file_size_limit = "50MiB"
file_types = ["image/jpeg", "image/png", "image/gif", "image/webp", "video/mp4", "video/webm"]

[functions.dispatch-notifications]
verify_jwt = false

[functions.send-push-notifications]
verify_jwt = false

[edge_runtime]
policy = "oneshot"